<a href="https://colab.research.google.com/github/jennyohyj/jennyohyj.github.io/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
pd.__version__

'1.1.5'

In [ ]:
## series 개체

In [ ]:
s=pd.Series([0,0.25,0.5,0.75,1])
s

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64

In [ ]:
s.values

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [ ]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
s[1]

0.25

In [ ]:
s[1:4]

1    0.25
2    0.50
3    0.75
dtype: float64

In [ ]:
s=pd.Series([0,0.25,0.5,0.75,1.0],
            index=['a','b','c','d','e'])
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [ ]:
s['c']

0.5

In [ ]:
s[['c','d','e']]

c    0.50
d    0.75
e    1.00
dtype: float64

In [ ]:
'b' in s

True

In [ ]:
s=pd.Series([0,0.25,0.5,0.75,1.0],
            index=[2,4,6,8,10])
s

2     0.00
4     0.25
6     0.50
8     0.75
10    1.00
dtype: float64

In [ ]:
s[4]

0.25

In [ ]:
s[2:]

6     0.50
8     0.75
10    1.00
dtype: float64

In [ ]:
s.unique()

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [ ]:
s.value_counts()

1.00    1
0.75    1
0.50    1
0.25    1
0.00    1
dtype: int64

In [ ]:
s.isin([0.25,0.75])

2     False
4      True
6     False
8      True
10    False
dtype: bool

In [ ]:
pop_tuple={'서울특별시':9720846,
           '부산광역시':3404423,
           '인천광역시':2947217
           ,'대구광역시':123000,
           '대전광역시':123090,
           '광주광역시':123898}
population=pd.Series(pop_tuple)
population

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
대구광역시     123000
대전광역시     123090
광주광역시     123898
dtype: int64

In [ ]:
population['서울특별시']

9720846

In [ ]:
population['서울특별시':'인천광역시']

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
dtype: int64

In [ ]:
##DataFrame 객체

In [ ]:
pd.DataFrame([{'A':2,'B':4,'D':3},{'A':4,'B':5,'C':7}])

   A  B    D    C
0  2  4  3.0  NaN
1  4  5  NaN  7.0

In [ ]:
pd.DataFrame(np.random.rand(5,5),
             columns=['A','B','C','D','E'],
             index=[1,2,3,4,5])

          A         B         C         D         E
1  0.591197  0.190878  0.689549  0.146693  0.286415
2  0.175800  0.141583  0.768434  0.776202  0.465121
3  0.682907  0.816197  0.282522  0.612855  0.065091
4  0.621833  0.801132  0.172460  0.769899  0.609755
5  0.873804  0.087470  0.343533  0.800913  0.420701

In [ ]:
male_tuple={'서울특별시':9670846,
           '부산광역시':3234423,
           '인천광역시':2947217
           ,'대구광역시':156000,
           '대전광역시':123090,
           '광주광역시':903898}
male=pd.Series(male_tuple)
male

서울특별시    9670846
부산광역시    3234423
인천광역시    2947217
대구광역시     156000
대전광역시     123090
광주광역시     903898
dtype: int64

In [ ]:
female_tuple={'서울특별시':497233,
           '부산광역시':34343,
           '인천광역시':256217
           ,'대구광역시':124560,
           '대전광역시':234090,
           '광주광역시':123239}
female=pd.Series(female_tuple)
female

서울특별시    497233
부산광역시     34343
인천광역시    256217
대구광역시    124560
대전광역시    234090
광주광역시    123239
dtype: int64

In [ ]:
korea_df=pd.DataFrame({'인구수':population,
                       '남자인구수':male,
                       '여자인구수':female})
korea_df

           인구수    남자인구수   여자인구수
서울특별시  9670846  9670846  497233
부산광역시  3234423  3234423   34343
인천광역시  2947217  2947217  256217
대구광역시   156000   156000  124560
대전광역시   123090   123090  234090
광주광역시   903898   903898  123239

In [ ]:
korea_df.index

Index(['서울특별시', '부산광역시', '인천광역시', '대구광역시', '대전광역시', '광주광역시'], dtype='object')

In [ ]:
korea_df.columns

Index(['인구수', '남자인구수', '여자인구수'], dtype='object')

In [ ]:
korea_df['여자인구수']

서울특별시    497233
부산광역시     34343
인천광역시    256217
대구광역시    124560
대전광역시    234090
광주광역시    123239
Name: 여자인구수, dtype: int64

In [ ]:
korea_df['서울특별시':'인천광역시']

           인구수    남자인구수   여자인구수
서울특별시  9670846  9670846  497233
부산광역시  3234423  3234423   34343
인천광역시  2947217  2947217  256217

In [ ]:
##index 객체
##index: 일반적인 index 객체이며, numpy배열 형식으로 축의 이름 표현
##int64index: 정수 값을 위한 index
##Multiindex: 단일 축에 여러 단계 색인을 표현하는 계층적 index 객체(튜플의 배열과 유사)
##Datetimeindex: numpy의 datetime64 타입으로 타임스탬프를 저장
##periodindex: 기간 데이터를 위한 index

In [ ]:
idx=pd.Index([2,4,6,8,10])
idx

Int64Index([2, 4, 6, 8, 10], dtype='int64')

In [ ]:
idx[1]

4

In [ ]:
idx[0]

2

In [ ]:
idx[1:2:2]

Int64Index([4], dtype='int64')

In [ ]:
idx[-1::]

Int64Index([10], dtype='int64')

In [ ]:
idx[::2]

Int64Index([2, 6, 10], dtype='int64')

In [ ]:
print(idx)

Int64Index([2, 4, 6, 8, 10], dtype='int64')

In [ ]:
print(idx.size)
print(idx.shape)
print(idx.ndim)
print(idx.dtype)

5
(5,)
1
int64

In [ ]:
##index 연산

In [ ]:
idx1=pd.Index([1,2,4,6,8])
idx2=pd.Index([2,4,5,6,7])
print(idx1.append(idx2))

Int64Index([1, 2, 4, 6, 8, 2, 4, 5, 6, 7], dtype='int64')

In [ ]:
print(idx1.difference(idx2))

Int64Index([1, 8], dtype='int64')

In [ ]:
print(idx1-idx2)

Int64Index([-1, -2, -1, 0, 1], dtype='int64')

In [ ]:
print(idx1.intersection(idx2))

Int64Index([2, 4, 6], dtype='int64')

In [ ]:
print(idx1&idx2)

Int64Index([2, 4, 6], dtype='int64')

In [ ]:
print(idx1.union(idx2))

Int64Index([1, 2, 4, 5, 6, 7, 8], dtype='int64')

In [ ]:
print(idx1|idx2)

Int64Index([1, 2, 4, 5, 6, 7, 8], dtype='int64')

In [ ]:
print(idx1.delete(0))

Int64Index([2, 4, 6, 8], dtype='int64')

In [ ]:
print(idx1.drop(1))

Int64Index([2, 4, 6, 8], dtype='int64')

In [ ]:
print(idx1^idx2)

Int64Index([1, 5, 7, 8], dtype='int64')

In [ ]:
##인덱싱(indexing)

In [ ]:
s=pd.Series([0,0.25,0.5,0.75,1],
            index=['a','b','c','d','e'])
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [ ]:
s['b']

0.25

In [ ]:
'b' in s

True

In [ ]:
s.keys()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
s.items()

In [ ]:
list(s.items())

[('a', 0.0), ('b', 0.25), ('c', 0.5), ('d', 0.75), ('e', 1.0)]

In [ ]:
s['f']=1.25
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
f    1.25
dtype: float64

In [ ]:
s['a':'d']

a    0.00
b    0.25
c    0.50
d    0.75
dtype: float64

In [ ]:
s[0:4]

a    0.00
b    0.25
c    0.50
d    0.75
dtype: float64

In [ ]:
s[(s>0.4)&(s<0.8)]

c    0.50
d    0.75
dtype: float64

In [ ]:
s[['a','c','e']]

a    0.0
c    0.5
e    1.0
dtype: float64

In [ ]:
##series 인덱싱

In [ ]:
s=pd.Series(['a','b','c','d','e'],
            index=[1,3,5,7,9])
s

1    a
3    b
5    c
7    d
9    e
dtype: object

In [ ]:
s[1]

'a'

In [ ]:
s[2:4]

5    c
7    d
dtype: object

In [ ]:
s.iloc[1] ##0부터 시작한다.

'b'

In [ ]:
s.iloc[2:4]

5    c
7    d
dtype: object

In [ ]:
s.reindex(range(10))

0    NaN
1      a
2    NaN
3      b
4    NaN
5      c
6    NaN
7      d
8    NaN
9      e
dtype: object

In [ ]:
s.reindex(range(10),method='bfill')

0    a
1    a
2    b
3    b
4    c
5    c
6    d
7    d
8    e
9    e
dtype: object