<a href="https://colab.research.google.com/github/jennyohyj/jennyohyj.github.io/blob/pandas-data-practice/summary_statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
titanic=pd.read_csv('https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/titanic.csv')
titanic.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [3]:
##What is the average age of the Titanic passengers?
titanic['Age'].mean()

29.69911764705882

In [6]:
##What is the median age and ticket fare price of the Titanic passengers?
titanic[['Age','Fare']].median()

Age     28.0000
Fare    14.4542
dtype: float64

In [7]:
titanic[['Age','Fare']].mean()

Age     29.699118
Fare    32.204208
dtype: float64

In [8]:
titanic[['Age','Fare']].describe()

              Age        Fare
count  714.000000  891.000000
mean    29.699118   32.204208
std     14.526497   49.693429
min      0.420000    0.000000
25%     20.125000    7.910400
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200

In [9]:
titanic.agg(
    {
        "Age": ["min", "max", "median", "skew"],
        "Fare": ["min", "max", "median", "mean"],
    }
) ##특정한 통계값만을 알고 싶을 때 agg를 사용한다.

              Age        Fare
min      0.420000    0.000000
max     80.000000  512.329200
median  28.000000   14.454200
skew     0.389108         NaN
mean          NaN   32.204208

In [10]:
##What is the average age for male versus female Titanic passengers?
titanic[['Age','Sex']].groupby('Sex').mean()

              Age
Sex
female  27.915709
male    30.726645

In [11]:
##성별에 따른 columns값의 평균 구하기
titanic.groupby('Sex').mean()

        PassengerId  Survived    Pclass  ...     SibSp     Parch       Fare
Sex                                      ...
female   431.028662  0.742038  2.159236  ...  0.694268  0.649682  44.479818
male     454.147314  0.188908  2.389948  ...  0.429809  0.235702  25.523893

[2 rows x 7 columns]

In [19]:
##성별에 따른 나이의 평균 구하기 groupby는 괄호로 묶고 구하고자 하는 변수는 []로 묶는다.
titanic.groupby(['Sex'])['Age'].mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [16]:
##What is the mean ticket fare price for each of the sex and cabin class combinations? 
##->df.groupby([])[].mean()
titanic.groupby(['Sex','Pclass'])['Fare'].mean()

Sex     Pclass
female  1         106.125798
        2          21.970121
        3          16.118810
male    1          67.226127
        2          19.741782
        3          12.661633
Name: Fare, dtype: float64

In [20]:
##What is the number of passengers in each of the cabin classes?
titanic['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [24]:
titanic.groupby(['Pclass'])['Pclass'].count()

Pclass
1    216
2    184
3    491
Name: Pclass, dtype: int64