<a href="https://colab.research.google.com/github/jennyohyj/jennyohyj.github.io/blob/pandas%2Fnumpy-practice/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EA%B2%B0%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s1=pd.Series(['a','b'],index=[1,2])
s2=pd.Series(['c','d'],index=[3,4])
pd.concat([s1,s2])

1    a
2    b
3    c
4    d
dtype: object

In [ ]:
def create_df(cols,idx):
  data={c:[str(c.lower())+str(i) for i in idx] for c in cols}
  return pd.DataFrame(data,idx)

In [ ]:
df1=create_df('AB',[1,2])
df1

    A   B
1  a1  b1
2  a2  b2

In [ ]:
df2=create_df('AB',[3,4])
df2

    A   B
3  a3  b3
4  a4  b4

In [ ]:
pd.concat([df1,df2])

    A   B
1  a1  b1
2  a2  b2
3  a3  b3
4  a4  b4

In [ ]:
df3=create_df('AB',[0,1])
df3

    A   B
0  a0  b0
1  a1  b1

In [ ]:
df4=create_df('CD',[0,1])
df4

    C   D
0  c0  d0
1  c1  d1

In [ ]:
pd.concat([df3,df4])

     A    B    C    D
0   a0   b0  NaN  NaN
1   a1   b1  NaN  NaN
0  NaN  NaN   c0   d0
1  NaN  NaN   c1   d1

In [ ]:
pd.concat([df1,df3],verify_integrity=True) ##overlap되는 부분이 생겨 오류뜬다.

ValueError: ignored

In [ ]:
pd.concat([df1,df3],ignore_index=True)

    A   B
0  a1  b1
1  a2  b2
2  a0  b0
3  a1  b1

In [ ]:
pd.concat([df1,df3],keys=['X','Y'])

      A   B
X 1  a1  b1
  2  a2  b2
Y 0  a0  b0
  1  a1  b1

In [ ]:
df5=create_df('ABC',[1,2])
df6=create_df('BCD',[3,4])
pd.concat([df5,df6])

     A   B   C    D
1   a1  b1  c1  NaN
2   a2  b2  c2  NaN
3  NaN  b3  c3   d3
4  NaN  b4  c4   d4

In [ ]:
pd.concat([df5,df6],join='inner')

    B   C
1  b1  c1
2  b2  c2
3  b3  c3
4  b4  c4

In [ ]:
df5.append(df6)

     A   B   C    D
1   a1  b1  c1  NaN
2   a2  b2  c2  NaN
3  NaN  b3  c3   d3
4  NaN  b4  c4   d4

In [ ]:
pd.concat([df3,df4],axis=1)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1

In [ ]:
pd.concat([df1,df3])

    A   B
1  a1  b1
2  a2  b2
0  a0  b0
1  a1  b1

In [ ]:
df1=pd.DataFrame({'학생':['홍길돌','이순신','임꺽정','김유신'],
                  '학과':['경영학과','교육학과','컴퓨터학과','통계학과']})
df1

    학생     학과
0  홍길돌   경영학과
1  이순신   교육학과
2  임꺽정  컴퓨터학과
3  김유신   통계학과

In [ ]:
df2=pd.DataFrame({'학생':['홍길동','이순신','임꺽정','김유신'],
                  '입학년도':[2012,2016,2019,2020]})
df2

    학생  입학년도
0  홍길동  2012
1  이순신  2016
2  임꺽정  2019
3  김유신  2020

In [ ]:
df3=pd.merge(df1,df2)
df3

    학생     학과  입학년도
0  이순신   교육학과  2016
1  임꺽정  컴퓨터학과  2019
2  김유신   통계학과  2020

In [ ]:
df6=pd.DataFrame({'이름':['홍길동','이순신','임꺽정','김유신'],
                  '성적':['A','A+','B','A+']})
df6

    이름  성적
0  홍길동   A
1  이순신  A+
2  임꺽정   B
3  김유신  A+

In [ ]:
pd.merge(df1,df6,left_on="학생",right_on="이름")

    학생     학과   이름  성적
0  이순신   교육학과  이순신  A+
1  임꺽정  컴퓨터학과  임꺽정   B
2  김유신   통계학과  김유신  A+

In [ ]:
pd.merge(df1,df6,left_on="학생",right_on="이름").drop("이름",axis=1)

    학생     학과  성적
0  이순신   교육학과  A+
1  임꺽정  컴퓨터학과   B
2  김유신   통계학과  A+

In [ ]:
mdf1=df1.set_index('학생')
mdf2=df2.set_index('학생')

In [ ]:
mdf1

        학과
학생
홍길돌   경영학과
이순신   교육학과
임꺽정  컴퓨터학과
김유신   통계학과

In [ ]:
mdf2

     입학년도
학생
홍길동  2012
이순신  2016
임꺽정  2019
김유신  2020

In [ ]:
pd.merge(mdf1,mdf2,left_index=True,right_index=True)

        학과  입학년도
학생
이순신   교육학과  2016
임꺽정  컴퓨터학과  2019
김유신   통계학과  2020

In [ ]:
mdf1.join(mdf2)

        학과    입학년도
학생
홍길돌   경영학과     NaN
이순신   교육학과  2016.0
임꺽정  컴퓨터학과  2019.0
김유신   통계학과  2020.0

In [ ]:
pd.merge(mdf1,df6,left_index=True,right_on='이름')

      학과   이름  성적
1   교육학과  이순신  A+
2  컴퓨터학과  임꺽정   B
3   통계학과  김유신  A+

In [ ]:
df7=pd.DataFrame({'이름':['홍길동','이순신','임꺽정'],
                  '주문음식':['햄버거','피자','짜장면']})
df7

    이름 주문음식
0  홍길동  햄버거
1  이순신   피자
2  임꺽정  짜장면

In [ ]:
df8=pd.DataFrame({'이름':['홍길동','이순신','임꺽정'],
                  '주문음료':['콜라','사이다','커피']})
df8

    이름 주문음료
0  홍길동   콜라
1  이순신  사이다
2  임꺽정   커피

In [ ]:
pd.merge(df7,df8)

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다
2  임꺽정  짜장면   커피

In [ ]:
pd.merge(df7,df8,how='inner')

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다
2  임꺽정  짜장면   커피

In [ ]:
pd.merge(df7,df8,how='outer')

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다
2  임꺽정  짜장면   커피

In [ ]:
pd.merge(df7,df8,how='left') ##df7 기준

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다
2  임꺽정  짜장면   커피

In [ ]:
pd.merge(df7,df8,how='right')

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다
2  임꺽정  짜장면   커피

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다
2  임꺽정  짜장면   커피