<a href="https://colab.research.google.com/github/jennyohyj/jennyohyj.github.io/blob/%ED%8C%8C%EC%9D%B4%EC%8D%AC-100%EC%A0%9C-%EB%B3%B5%EC%8A%B5/%ED%8C%8C%EC%9D%B4%EC%8D%AC_100%EC%A0%9C_part1(%EB%B3%B5%EC%8A%B5).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a,b,c,d=100,3.14,'k','korea'

In [4]:
a=100
if a<=100:
  print(a)

100

In [6]:
btn=1
if btn==1:
  print('아메리카노')
elif btn==2:
  print('카페라떼')
elif btn==3:
  print('아이스 카페라떼')
else:
  print('메뉴는 1,2,3번 중 골라주세요')

아메리카노

In [7]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
##반복문 복습

In [9]:
##1.0부터 9까지 출력하는 for 반복문 예제를 구현해라

for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
##2.0부터 9까지 0   1   2  ........9 처럼 출력되도록 해라

for i in range(10):
  print(i,end="      ")

0      1      2      3      4      5      6      7      8      9

In [16]:
##3.0부터 9까지 0,1,2,3,4,5,6,7,8,9 처럼 출력되도록 해라(띄어쓰기에 주의할 것)

for i in range(10):
  if i<9:
    print(i,end=",")
  else:
    print(i,end="")

0,1,2,3,4,5,6,7,8,9

In [23]:
##4. for 반복문을 이용하여 4부터 21까지의 홀수들의 합을 구하는 코드를 작성해라 (sum을 0이라고 초기값 설정하는 것이 중요.)
sum=0
for i in range(4,22):
  if (i%2==1):
     sum +=i
print(sum)

117

In [27]:
##5. 1부터 100까지 짝수들만 출력하는 코드를 구현하기
for i in range(1,101):
  if i%2==0:
    print(i,end=",")

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

In [32]:
##6.for 반복문을 사용하여 구구단 전체(2단~9단)을 출력하는 코드를 구현하시오.
for i in range(2,10):
  print(i,'단')
  for j in range(1,10):
    print(i,'x',j,'=',i*j)
print()

2 단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [36]:
lst=['dog','hippo','elephant','lion','tiger','alligator']
for i in range(len(lst)):
  print(lst[i],end='\t')
print('총',len(lst),'개 요소')

dog	hippo	elephant	lion	tiger	alligator	총 6 개 요소

In [41]:
##리스트 요소의 값을 반복문을 사용하여 거꾸로 출력시켜라.
lst=['dog','hippo','elephant','lion','tiger','alligator']
for i in lst[::-1]:
  print(i,end='\t\t')
print()

alligator		tiger		lion		elephant		hippo		dog